* {
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
}

img {
    width: auto;
    height: 100%;
}

body {
    position: relative;
}

main {
    display: grid;
}

aside {
    position: absolute;
    top: 20px;
    right: 20px;
}

#result {
    background-color: aqua;
    height: 100%;
    width: auto;
}

#woozy {
    place-self: center;
    height: 100vh;
    padding: 20px 0;
}

.name-tag {
    place-self: center;
    display: flex;
    justify-content: center;
    position: relative;
}
#name-tag {
    place-self: center;
    position: absolute;
    bottom: 25vh;
    height: 31vh;
}

#data {
    position: absolute;
    bottom: 32vh;
}

#name {
    width: 100%;
    font-size: 30px;
}

#time {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}