* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}
h1 {
    font-family: "jeanne-moderno-geometrique", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 3em;
}
#item1 {
    font-size: 100px;
}
#item2 {
    line-height: .1em;
}
#title {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #111;
    color: rgb(235, 235, 235);
    transition: .25s all;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: black;
    transition: .25s all;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
}

header {
    margin: 0 auto .85em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    background-image: url(images/inDark.svg);
    overflow: hidden;
    display: grid;
	place-items: center;
    transition: .25s all;
}

#banner.switch {
    background-image: url(images/inLight.svg);
    color: rgb(235, 235, 235);
    transition: .25s all;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin: auto;
}

main section {
    width: 25%;
    background-color: black;
    transition: .25s all;
}
main section.switch {
    background-color: white;
    transition: .25s all;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li, h3 {
    padding-left: 1em;
    font-family: "fenwick", sans-serif;
    font-weight: 300;
    font-style: normal;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .35em;
    color: white;
    transition: .25s all;
}

section a:hover {
    background-color: #00F8FF;
    color: black;
}

section.switch a {
    color: black;
    transition: .25s all;
}

section.switch a:hover {
    background-color: black;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 88px;
    right: 0;
    padding: 12px;
    background-color: #0000FF;
    color: white;
    border: 1px solid transparent;
    font-family: "fenwick", sans-serif;
    transition: .5s ease-in-out;
}

button:hover {
    background-color: #00F8FF;
    cursor: pointer;
}

button.switch {
    background-color: #C12746;
    color: white;
}

button.switch:hover {
    background-color: #FBB03B;
    color: rgb(235, 235, 235)
}