* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: #231f20;
    font-family: 'Lato', sans-serif;
}
.nav-bar {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* list-style-type: none; */
    position: relative;
    color: #231f20;
    padding: 12px 20px;
}
.logo img { height: 40px; } 
.menu { position: absolute; right: 185px; }
.menu ul { list-style-type: none; display: flex; }
.menu li { padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #231f20;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #231f20;
    transition: 0.15s ease-in-out;
}
.menu li a:hover::after { width: 100%; }
.open-menu , .close-menu {
    position: absolute;
    color: #231f20;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check { display: none; }

#newbtn {
    position: absolute;
    right: 20px;
}
/* Typography*/
p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    padding: 5px 0;
}
h4 { 
    font-size: 18px; 
    font-weight: 300; 
}
h3 { 
    font-size: 20px; 
    font-weight: 400; 
    text-align: center; 
}
h2 { 
    font-size: 26px; 
    font-weight: 700; 
    text-align: center; 
    padding: 25px 0;
}
h1 { 
    font-size: 32px; 
    font-weight: 700;  
    padding: 10px 0;
}
main {
    padding:  0 15px;
    z-index: -10;
}
footer {
    display: grid;
    place-content: center;
    margin-top: 50px;
    height: 250px;
    background-color: #231f20;
    color: white;
}
footer h4 {
    text-align: center;
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#assets-and-text {
    display: flex;
    justify-content: center;
    height: 100%;
}
.left {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50vw;
    padding: 0 10px;
}
.right {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
image {
    display: block;
    width: 100%;
    height: auto;
}
.scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: #dfdfe5;
}
#newbtn {
    width: fit-content;
    display: flex;
    gap: 5px;
    color: #231f20;
    background-color: #FECD1E;
    padding: 10px 15px;
    border-radius: 22px;
    cursor: pointer;
    border: none;
    transition: .5s ease-in-out;
}
#newbtn:hover, .btn:hover {
    background-color: #4C5CF0;
    color: white;
}
.fa-times:hover {
    color: #4C5CF0;
}
.btn {
    background-color: #231f20;
    color: white;
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

ol.community-post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    list-style: none;
    padding: 0;
}

li.community-post-list {
    color: #231f20;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 6px #d0d0d7);
    
}
.li-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    height: 100vh;
    width: 100vw;
}

#create-post {
    position: fixed;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 10;
    padding: 0 10px 6%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

#create-post-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 6%;
}

.create-post-input-field input {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 440px;
    padding: 10px;
}
.create-post-input-field label {    font-weight: 400;
}

#response {
    max-width: 440px;
    min-height: 75px;
}
#selImg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    max-width: 400px;
    margin: auto;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}
label>img {
    width: 45vw;
    max-width: 100px;
    border-radius: 9px;
    padding: 10px;
    cursor: pointer;
}
input[type=radio]:checked + 
label>img {
    background-color: #231f20;
}
#alert {
    text-align: center;
    font-weight: 500;
}
.close-form {
    padding: 15px 0;
    display: block;
    margin-left: auto;
    color: #231f20;
    font-size: 1.5rem;
    transition: ease-in-out .25s;
    cursor: pointer;
}


input[type="submit"]:hover {
    cursor: pointer;
}

.post-img {
    position: relative;
    border-radius: 50%;
}
.images {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}
#circle {
    width: 300px;
    height: 300px;
}

.create-post-offscreen { top: 0; right: -100vw; transition: all 500ms cubic-bezier(.52,.001,.52,.001); }
.create-post-onscreen { top: 0; right: 0; transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);}

.hidden {
    display: none;
}

@media screen and (max-width:
610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #231f20;
        transition: all 0.2s;
    }
    #newbtn {
        margin-right: 40px;
    }
    .menu ul { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
    .menu li { margin-top: 40px; }
    .menu li a { padding: 10px; color: white; }
    .open-menu , .close-menu { display: block; }
    .close-menu { color: white; }
    #check:checked ~ .menu { right:0; }
}

@media screen and (min-width: 821px) {
    .hero-wrapper {
        height: calc(100vh - 60px);
    }
    .hero-img {
        position: relative;
        top: 0;
        left: 20px;
        width: 60%; 
        z-index: -10;
    }
    #poppies-asset,
    #sunflower-asset,
    #hand-asset,
    #star-asset,
    #peace-asset,
    #tree-asset {
        position: absolute;
        max-width: 15%;
        z-index: -5;
    }
    #poppies-asset {
        bottom: 20%;
        left: 20%;
    }
    #sunflower-asset {
        bottom: 20px;
        left: 20px;
    }
    #hand-asset {
        bottom: 20px;
        right: 20px;
    }
    #star-asset {
        bottom: 20%;
        right: 20%;
    }
    #peace-asset {
        bottom: 40%;
        right: 2%;
    }
    #tree-asset {
        bottom: 60%;
        right: 20%;
    }
    .hero-text {
        width: 30%;
        margin: auto;
    }
    .hero-text p {
        font-size: 18px;
    }
    #create-post {
        max-width: 40%;
    }
    li.community-post-list {
        width: 100%;
    }
    .scroll-wrapper {
        position: relative;
        bottom: 30px;
    }
}